@import "tailwindcss";



body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: relative;

}

.container {
    max-width: 1440px;
    margin: auto;
}

h1 {
    color: #000;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

h2 {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h3 {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5 {
    color: #000;

    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h6 {
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: #101010;

    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

#tsparticles {
    width: 100%;
    height: 100%;
}


#top {
    background: linear-gradient(134deg, #FEE051 0%, rgba(254, 224, 81, 0.60) 51.92%, #FEE051 97.91%);
    overflow: hidden !important;

}

.btn {
    color: #000;

    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.btn:hover {
    cursor: pointer;
    background: #FF8E00;
    color: white !important;
}

#idea {
    color: #000;

    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}


nav a,
nav Link {
    cursor: pointer;
    color: #000;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav a:hover {
    color: #FF8E00;
}

.storNoi-ul li {
    display: flex;
    align-items: start;
    gap: 18px;
    color: #101010;

    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;

}

.generatedStory h1 {

    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.generatedStory h2,
.generatedStory h3 {
    font-family: "Plus Jakarta Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 17px;

}

.generatedStory p,
.generatedStory div,
.generatedStory li {
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 17px;
}


.storybtn {

    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 25px;
    cursor: pointer;
}

#changesInput {
    overflow: hidden;

    text-overflow: ellipsis;
    font-family: "Plus Jakarta Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#paymentForm label {
    color: #000;
    opacity: 0.5;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

#paymentForm input,
#paymentForm Select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    padding: 15px 20px;
    margin-top: 14px;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


@media screen and (max-width: 1480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 520px) {
    .storybtn {
        padding: 10px 20px;
        font-size: 18px;
    }

    .generatedStory p,
    .generatedStory div,
    .generatedStory li {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }

    .generatedStory h2,
    .generatedStory h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .generatedStory h1 {
        font-size: 20px;
    }

    #paymentForm input,
    #paymentForm Select {
        padding: 10px;
        margin-top: 5px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
        line-height: 18px;

    }

    .storNoi-ul li {
        font-size: 12px;
        line-height: 18px;
    }

    .storNoi-ul li img {
        margin-top: 5px;
        width: 14px;
        height: 10px;
    }

    .input-btn {
        padding: 12px;
        font-size: 14px;
        right: 5px;
        top: 10px;
    }

    .input-group input {
        padding: 18px 125px 18px 18px;
        font-size: 14px;
        border-radius: 12px;
    }
}

@media screen and (max-width: 450px) {
    .perfer-btn {
        width: 54px;
        height: 40px;
    }

    .story-btn-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .story-btn-container button {
        width: 100%;
    }
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background: transparent;
    overflow: hidden;
   

  }
  .page h2, .page h3, .page h1{
    font-size: 24px !important;
    
    padding: 10px 20px !important;
  }
 
  .page p{
    font-size: 18px !important;
    line-height: 22px !important;
  }
  
  .flipbook {
    width: 100%;
    height: 100%;
    max-width: 100%; /* Adjust maximum width */
    max-height: 100%; /* Adjust maximum height */

  }
  
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    font-size: 18px;
    padding-bottom: 40px !important;
    text-align: left;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .page img {
    max-width: 100%;
    height: auto;
    
    border-radius: 0px;
  }
  
  


@media print {
    body * {
        visibility: hidden;
        /* Hide everything */
        margin: 0px !important;
    }

    .printable-content,
    .printable-content * {
        visibility: visible;
        
    }

    .printable-content {
        position: absolute;
        left: 0;
        top: 0 !important;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        page-break-before: always;

    }

   

    .printable-content div {
        box-shadow: none !important;
        padding: 0px !important;
        margin-top: 10px !important;
    }

    @page {
        size: auto;
        /* Default to page size */
        margin-left: 10 !important;
        margin-right: 10 !important;

    }


}